# Text Editing and Analysis

In [1]:
cat genomes.txt

H. sapiens (human) - 3,400,000,000 bp - 30,000 genes
A. thaliana (plant) - 100,000,000 bp - 25,000 genes
S. cerevisiae (yeast) - 12,100,000 bp - 6034 genes
E. coli (bacteria) - 4,670,000 bp - 3237 genes
4 lines text?
4 lines text?
203 characters?

In [5]:
sort -u -n genomes.txt

H. sapiens (human) - 3,400,000,000 bp - 30,000 genes
4 lines text?
203 characters?

In [3]:
sort -n genomes.txt | sort -u

203 characters?
4 lines text?
A. thaliana (plant) - 100,000,000 bp - 25,000 genes
E. coli (bacteria) - 4,670,000 bp - 3237 genes
H. sapiens (human) - 3,400,000,000 bp - 30,000 genes
S. cerevisiae (yeast) - 12,100,000 bp - 6034 genes

In [6]:
sort -t - -k 3 -n genomes.txt

203 characters?
4 lines text?
4 lines text?
A. thaliana (plant) - 100,000,000 bp - 25,000 genes
H. sapiens (human) - 3,400,000,000 bp - 30,000 genes
E. coli (bacteria) - 4,670,000 bp - 3237 genes
S. cerevisiae (yeast) - 12,100,000 bp - 6034 genes

In [7]:
wc genomes.txt

  6  44 246 genomes.txt

In [8]:
split -l 2 genomes.txt genomes.

In [9]:
ls -l

total 24
-rw-rw-r-- 1 ubuntu ubuntu  105 Apr 18 12:00 genomes.aa
-rw-rw-r-- 1 ubuntu ubuntu   98 Apr 18 12:00 genomes.ab
-rw-rw-r-- 1 ubuntu ubuntu   28 Apr 18 12:00 genomes.ac
-rw-rw-r-- 1 ubuntu ubuntu   15 Apr 18 12:00 genomes.ad
-rw-rw-r-- 1 ubuntu ubuntu  246 Apr 17 21:19 genomes.txt
-rw-rw-r-- 1 ubuntu ubuntu 3130 Apr 18 11:56 textedit.ipynb

In [10]:
cat genomes.aa

H. sapiens (human) - 3,400,000,000 bp - 30,000 genes
A. thaliana (plant) - 100,000,000 bp - 25,000 genes

In [11]:
cut -f 1,3 -d "-" genomes.txt

H. sapiens (human) - 30,000 genes
A. thaliana (plant) - 25,000 genes
S. cerevisiae (yeast) - 6034 genes
E. coli (bacteria) - 3237 genes
4 lines text?
4 lines text?
203 characters?

In [12]:
paste -s genomes.txt

H. sapiens (human) - 3,400,000,000 bp - 30,000 genes	A. thaliana (plant) - 100,000,000 bp - 25,000 genes	S. cerevisiae (yeast) - 12,100,000 bp - 6034 genes	E. coli (bacteria) - 4,670,000 bp - 3237 genes	4 lines text?	4 lines text?	203 characters?

In [13]:
cat numbers.txt

1 2 3
4 5 6
7 8 9

In [17]:
paste -s numbers.txt

1 2 3	4 5 6	7 8 9

In [21]:
egrep human genomes.txt

H. sapiens (human) - 3,400,000,000 bp - 30,000 genes

In [20]:
egrep 'bacteria|human' genomes.txt

H. sapiens (human) - 3,400,000,000 bp - 30,000 genes
E. coli (bacteria) - 4,670,000 bp - 3237 genes

In [22]:
egrep -c genes genomes.txt

4

In [24]:
diff amino-1.txt amino-2.txt

1,3c1,2
< These amino acids are polar:
< Serine
< Tyrosine
---
> These amino acids are polar and charged:
> Lysine

: 1

In [31]:
diff -u1 amino-1.txt amino-2.txt

--- amino-1.txt	2024-04-18 16:42:56.725698441 +0200
+++ amino-2.txt	2024-04-18 16:35:20.281715004 +0200
@@ -1,4 +1,3 @@
-These amino acids are polar:
-Serine
-Tyrosine
+These amino acids are polar and charged:
+Lysine
 Arginine
\ No newline at end of file

: 1

In [32]:
sort amino-1.txt > amino-1.txt.sorted

In [33]:
sort amino-2.txt > amino-2.txt.sorted

In [34]:
comm amino-1.txt.sorted amino-2.txt.sorted

		Arginine
	Lysine
Serine
	These amino acids are polar and charged:
These amino acids are polar:
Tyrosine

In [35]:
comm -12 amino-1.txt.sorted amino-2.txt.sorted

Arginine

In [36]:
vim -e genomes.txt < edit.vi

In [38]:
cat genomes.new

H. sapiens (human)	3.400.000.000 bp	30.000 genes
A. thaliana (plant)	100.000.000 bp	25.000 genes
S. cerevisiae (yeast)	12.100.000 bp	6034 genes
E. coli (bacteria)	4.670.000 bp	3237 genes

In [39]:
!!

{ echo $?; } 2>/dev/null
0