# AWK

In [10]:
cat>enzyme.txt
Enzyme      Km
Protease    2.5
Hydrolase   0.4
ATPase      1.2

In [4]:
cat enzyme.txt

Enzyme      Km
Protease    2.5
Hydrolase   0.4
ATPase      1.2

In [5]:
awk '$2 < 1 {print $1}' enzyme.txt

Hydrolase

In [7]:
awk -F":" '/ubuntu/ {print $0}' /etc/passwd

ubuntu:x:1000:1000:Ubuntu:/home/ubuntu:/bin/bash

In [8]:
awk -F":" '/ubuntu/ {print $1 " uses " $7}' /etc/passwd

ubuntu uses /bin/bash

In [12]:
sed -n '/\?/!s/,//gp' genomes.txt

H. sapiens (human) - 3400000000 bp - 30000 genes
A. thaliana (plant) - 100000000 bp - 25000 genes
S. cerevisiae (yeast) - 12100000 bp - 6034 genes
E. coli (bacteria) - 4670000 bp - 3237 genes

In [13]:
sed -n '/\?/!s/,//gp' genomes.txt > genomes2.txt

In [15]:
cat enzyme.txt

Enzyme      Km
Protease    2.5
Hydrolase   0.4
ATPase      1.2

In [16]:
awk '/2/ {print $1}' enzyme.txt

Protease
ATPase

In [17]:
awk '!/2/ {print $1}' enzyme.txt

Enzyme
Hydrolase

In [18]:
awk '$1 !~ /ase/' enzyme.txt

Enzyme      Km

In [19]:
awk -F":" '$7 ~ /bash/ {print $1}' /etc/passwd

root
ubuntu

In [20]:
awk '$0 < "a"' chars.txt

Apple
A

In [21]:
awk '$0 < "A"' chars.txt

In [22]:
awk '$0 <= "A"' chars.txt

A

In [23]:
awk '$0 >= "A"' chars.txt

Apple
apple
a
A

In [24]:
awk '$0 > "A"' chars.txt

Apple
apple
a

In [25]:
awk '$0 > "a"' chars.txt

apple

In [26]:
awk 'length($1) > 6' enzyme.txt

Protease    2.5
Hydrolase   0.4

In [27]:
awk '$2 > 2' enzyme.txt

Enzyme      Km
Protease    2.5

In [28]:
awk '/En/,/Hy/' enzyme.txt

Enzyme      Km
Protease    2.5
Hydrolase   0.4

In [30]:
awk '$2+0 > 3, $2+0 < 2' structure.pdb

SEQRES 4 A  162  ASP GLY GLY THR ALA GLY MET GLU LEU LEU
HELIX  1 hel ILE A   18  GLN A   28
ATOM 4  CE  MET A 1 51.349  24.403  47.765  1.00 71.39 C
ATOM 5  CG  MET A 1 48.708  24.106  48.629  1.00 66.70 C
ATOM 6  N   MET A 1 50.347  23.578  52.116  1.00 62.03 N
ATOM 7  O   MET A 1 47.875  25.011  52.020  1.00 54.99 O
ATOM 8  SD  MET A 1 49.731  23.948  47.163  1.00 77.15 S

In [35]:
awk 'BEGIN{print "s2"+0}'

0

In [36]:
awk '/En/,/Hy/' enzyme.txt

Enzyme      Km
Protease    2.5
Hydrolase   0.4

In [37]:
awk '
BEGIN {FS="-"; print "Species in the file:"}
{print "\t" $1}
END {print "Job finished"}
' genomes2.txt

Species in the file:
	H. sapiens (human)
	A. thaliana (plant)
	S. cerevisiae (yeast)
	E. coli (bacteria)
Job finished

In [38]:
awk '{species=species $1 $2 "   "; genes+=$8} END{print species "\n have " genes " genes altogether"}' genomes2.txt

H.sapiens   A.thaliana   S.cerevisiae   E.coli
 have 64271 genes altogether

In [39]:
awk 'BEGIN{x=1; y=1; print "x="x, "y="y; print "x++="x++, "++y="++y, "x="x, "y="y}'

x=1 y=1
x++=1 ++y=2 x=2 y=2

In [40]:
echo "test" | awk '{print FILENAME}'

-

In [41]:
awk 'BEGIN{FIELDWIDTHS="3 4 3"}{print $0":\n", $1, $2, $3, $4}' enzyme.txt

Enzyme      Km:
 Enz yme
Protease    2.5:
 Pro teas e
Hydrolase   0.4:
 Hyd rola se
ATPase      1.2:
 ATP ase

In [42]:
awk 'BEGIN{OFS="---"; print "Hello", "World"}'

Hello---World

In [44]:
awk -v OFS="---" 'BEGIN{ORS="<<<"; print "One", "Two"}'

One---Two<<<

In [45]:
awk 'BEGIN {print "Lines & Fields in Files:"}{print FILENAME ": \t", FNR" - "NF, "\t total:" NR}' enzyme.txt genomes2.txt

Lines & Fields in Files:
enzyme.txt: 	 1 - 2 	 total:1
enzyme.txt: 	 2 - 2 	 total:2
enzyme.txt: 	 3 - 2 	 total:3
enzyme.txt: 	 4 - 2 	 total:4
genomes2.txt: 	 1 - 9 	 total:5
genomes2.txt: 	 2 - 9 	 total:6
genomes2.txt: 	 3 - 9 	 total:7
genomes2.txt: 	 4 - 9 	 total:8

In [53]:
awk 'BEGIN{item=ARGV[1]; ARGV[1]=""}$1~item{print $0}' rotea enzyme.txt

Protease    2.5

In [57]:
awk 'BEGIN{x=ARGV[0];ARGV[0]="";ARGV[1]="";ARGV[2]=""}{print x}' par1 par2 enzyme.txt

awk
awk
awk
awk

In [58]:
awk 'BEGIN{print ENVIRON["HOME"]}'

/home/ubuntu

In [59]:
echo "atgccg" | awk 'BEGIN{codon["atg"]="MET"; codon["ccg"]="VAL"; FIELDWIDTHS="3 3"}{print codon[$1], codon[$2]}'

MET VAL

In [60]:
awk '{pieces=split($2,data,".")}{print pieces, "pieces have been saved"}{print "Integer: "data[1]"\tDecimal: "data[2]}' enzyme.txt

1 pieces have been saved
Integer: Km	Decimal:
2 pieces have been saved
Integer: 2	Decimal: 5
2 pieces have been saved
Integer: 0	Decimal: 4
2 pieces have been saved
Integer: 1	Decimal: 2

In [61]:
echo "1234" | awk '{split($0,a,""); print a[2]}'

2

In [62]:
awk '/[0-9]/ {data[$1]=$2}END{for (x in data) print "Index="x, " Value="data[x]}' enzyme.txt

Index=Hydrolase  Value=0.4
Index=Protease  Value=2.5
Index=ATPase  Value=1.2

In [65]:
awk '/[0-9]/{data[$1]=$2}END{asort(data);for (x in data){print "Index="x, "  Value="data[x]}}' enzyme.txt

Index=1   Value=0.4
Index=2   Value=1.2
Index=3   Value=2.5

In [66]:
awk -f if-else.awk enzyme.txt

Sum of numbers greater than or equal 2: 1.6
sum of numbers smaller than 2         : 2.5